
.gallery img{
    width:100%;
    margin-bottom:1rem;
    height:150px;
    object-fit:cover;
    cursor: pointer;
}

.gallery p{
    display:none;
    
}

.gallery-item.active{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10001;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.85);
}

.gallery-item.active button{
    position:absolute;
    top:0;
    right:2rem;
    font-size:3em;
}

.gallery-item.active img{
    width:auto !important;
    height: auto !important;
    max-height:90vh;
    max-width:90vh;
}

@media(min-width:768px){
    .gallery{
        margin-top:2rem;
        display:flex;
        flex-flow:wrap;
        gap:1rem;
        column-gap:1.4rem;
    }

    .gallery img{
        width:100%;
        height:180px;
    }

    .gallery-item{
        width:calc(25% - 1.1rem);
    }
}